.main-div {
    width: 100%;
    height:auto;
    display: grid;
    position: relative;
    overflow:auto;
    margin:0 auto;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 18vw 1fr;
    .header{
        grid-row: 1/2;
        grid-column: 1/-1;
        padding:10px;
        // background-color:#2A4747;
        // background-color: #58748b;
        background-color: #15232d;
        .logo{
            color:white;
            font-family: 'Akronim';
            font-size:30px;
            font-weight: 400px;
            margin-left: 25px;
        }
    }
    .main-content{
        // background-color: #f7f7f8;
        background-color: #f7f7f8;
        padding:10px;
    }
}