.sidebar{
    grid-row: 2/3;
    height: 100%;
    background-color: #58748b;
    ul{
        // width:100%;
        text-align: center;
        cursor: pointer;
        list-style-type: none;
        .item{
            display: block;
            padding:20px;
            color:white;
            text-transform: uppercase;
        }
        .item:hover{
            text-decoration: none;
            background-color: tomato;
            transform-origin: left;
            transition: background-color 1s;
            // clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
        }
        .active{
            background-color:tomato;
            width: 100%;
            transform-origin: left;
            transition:background-color 1s ease;
            // clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
        }
    }
}