.sidebar{
    grid-row: 2/3;
    // background-color: #61D095;
    background-color: #58748b;
    ul{
        width:100%;
        text-align: center;
        .item{
            display: block;
            padding:15px;
            color:white;
            text-transform: uppercase;
        }
        .item:hover{
            background-color: tomato;
            transform-origin: left;
            transition: background-color 0.25s;
            clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
        }
        .active{
            background:tomato;
            width: 100%;
            transform-origin: left;
            transition:background 1s ease;
            clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
        }
    }
}