.sidebar{
    grid-row: 2/3;
    // background-color: #61D095;
    background-color: #58748b;
    ul{
        width:100%;
        text-align: center;
        li{
            display: block;
            padding:15px;
            color:white;
            text-transform: uppercase;
        }
        li:hover{
            background:tomato;
            width: 100%;
            transform-origin: left;
            transition:background 1s ease;
            clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
        }
    }
}